article {
  margin-left: 20px;
  
  .title {
    a {
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: none;
    }
  }
  
  h1 {
    margin-top:10px;
    margin-bottom:30px;
  }

  h2 {
    margin-top:20px;
    margin-bottom:10px;
  }

  h3 {
    margin-bottom: 20px;
  }
  
  blockquote {
    border-left: 5px solid #ccc;
    margin: 2em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

  p {
    margin-bottom:1.4em;
    font-size:20px;
    line-height:1.5em;
  }

  img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
